.legalDocs-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    149deg,
    var(--yellow-light),
    var(--yellow-dark)
  );
}

.card-container {
  background-color: rgba(255, 255, 255, 0.5);
}
