.yellow-gradient-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    310deg,
    var(--yellow-dark),
    var(--yellow-light)
  );
}

.grey-bg{
  background-color: var(--gray);
}