.about-product-section {
  background-image: linear-gradient(
    120deg,
    var(--yellow-light),
    var(--yellow-dark)
  );
}
.product-card {
  box-shadow: 3px 3px 20px #00000029;
}

.card-icon span{
  width: 100% !important;
  height: 100% !important;
}